.Dashboard-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Dashboard-main .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    width: 280px;
    position: absolute;
    top: 75%;
    left: 40%;
    background: linear-gradient(91.66deg, #04045C -59.19%, #B555DA 5.02%, #E5C4BD 72.06%, #656ED4 127.62%);
    font-family: "Poppins", sans-serif;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 87%); 
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
}

.Dashboard-main h1{
    margin-top: 5%;
}